:root {
    // 页面主题色
    --main-theme-bg: #e86753;
    --main-theme-color: #4d4d4d;

    // 按钮类hover色
    --font-hover-color: #fff;
    --btn-hover-bg: #f27466;

    // 按钮类active色
    --font-active-color: #fff;
    --btn-active-bg: #f27466;

    // alert颜色
    --alert-bg: #ebf3fa;
    --alert-border-color: #badaf7;
}
